@import "tailwindcss";

@theme {
  --color-midnight-blue: #0D1B2A;
  --color-slate-dark: #1B263B;
  --color-parchment-white: #E0E1DD;
  --color-mist-gray: #A9B4C2;
  --color-royal-purple: #8443A4;
}

body {
  background: #0D1B2A;
  color: #E0E1DD;
  font-family: var(--font-poppins);
}
