@import 'tailwindcss';

@theme {
  --color-midnight-blue: #0d1b2a;
  --color-slate-dark: #1b263b;
  --color-parchment-white: #e0e1dd;
  --color-mist-gray: #a9b4c2;
  --color-royal-purple: #8443a4;
}

body {
  background: #0d1b2a;
  color: #e0e1dd;
  font-family: var(--font-poppins);
}
